<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit username</title>
</head>
<body>
    <h2>You are about Edit this USER :<%= u.email%></h2>
    <form method="post" action="/user/<%= u.id %>?_method=PATCH">
        <textarea name="username" id=""><%= u.username %></textarea>
        <br><br>
        <input type="password" name="password" placeholder="enter password">
        <br><br>
        <button>change username</button>
    </form>
</body>
</html>